.clients_box {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}
.clients_container {
  overflow: hidden;
  width: 50%;
  background-color: #53354a;
}
.slider {
  position: relative;

  padding-left: 87px;
  padding-top: 115px;
  padding-right: 87px;
}
.clients {
  width: 100%;
}
.slider_item {
  display: flex;
  flex-direction: row;
  background-color: #53354a;
}

.img {
  width: 50%;
}
.clients_img {
  width: 100%;
  object-fit: cover;

  height: 100%;
}
.slick-track {
  display: flex;
  align-items: flex-start;
}
.slick-list {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0 0 0;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}
.presentation button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.5);
}
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("/image/forslider/free-icon-left-chevron-120904.svg") 0 0 /100%
    no-repeat;
  border: none;
  margin-left: 20px;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url("/image/forslider/free-icon-right-chevron-120905.svg") 0 0 /100%
    no-repeat;
  border: none;
  margin-right: 20px;
}

.slider .slick-dots {
  margin-top: -110px;
  z-index: 10;
  padding-left: 180px;
  position: absolute;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0 8px;
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}
.slider .slick-dots li:hover,
.slider .slick-dots li:active {
  background-color: #fff;
}
.slider .slick-dots li button {
  display: none;
}
.blo {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.5);
}

.slider_text {
  width: 100%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 15px;
}

.slider_item_title {
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  text-transform: capitalize;
  font-family: "Cardo", serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}
.slider_item_title-last {
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  text-transform: capitalize;
  font-family: "Cardo", serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 29px;
}
.slider_item_text {
  margin-top: 29px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 0;
  margin-bottom: 181px;
}
@media (max-width: 1090px) {
  .img {
    display: none;
  }
  .clients_container {
    width: 100%;
  }
  .slider_text {
    align-items: center;
  }
  .slick-dots {
    width: 100%;
    text-align: center;
    padding-left: 0 !important;
    right: 0;
  }
}
@media (max-width: 811px) {
  .slider_item_title {
    font-size: 24;
    line-height: 36px;
    margin-bottom: 10px;
  }
  @media (max-width: 722px) {
    .slider_item_title {
      font-size: 18px;
      line-height: 24px; 
    }
    .slider_item_title-last{
      font-size: 14px;
      line-height: 21px;
    }
    .slider_text{
      align-items: flex-start;
    }
    .slider_item_text{
      font-size: 10px;
      line-height: 14px; 
      font-weight: 400;
    }
}
