.downland {
  width: 100%;
}
.downland_container {
  width: 1170px;
  padding: 101px 15px;
  margin: 0 auto;
  text-align: center;
}
.downland_title {
  margin-top: 0;
  margin-bottom: 22px;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  line-height: 31px;
  font-weight: 300;
  text-transform: capitalize;
}
.downland_text {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 41px;
}
.downland_button-here {
  border: none;
  width: 280px;
  height: 46px;
  background-color: #e84545;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  padding: 0;
}
.downland_button-here:hover,
.downland_button-here:focus {
  background-color: burlywood;
}
@media (max-width: 1590px) {
  .downland_container {
    width: auto;
  }
}
@media (max-width: 657px) {
}
