.header {
  width: 100%;
  margin-top: 0;
}
.title {
  font-size: 65px;
  font-family: "Open Sans", sans-serif;
  line-height: 71px;
  font-weight: bold;
  text-align: center;
  color: #fff;

  margin-bottom: 39px;
  text-transform: uppercase;
  margin-top: 0;
}
.text {
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  line-height: 33px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  margin-bottom: 100px;
  text-transform: capitalize;
}
.button {
  text-align: center;
}
.header_button {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 1px;
  background-color: #e84545;
  padding: 12px 46px 14px 54px;
  transition: 0.5s;
}
.header_button:focus,
.header_button:hover {
  background-color: burlywood;
}
.container_header {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
  padding-top: 152px;
  padding-bottom: 170px;
}
@media (max-width: 754px) {
  .title {
    font-size: 35px;
    line-height: 41px;
  }
}
@media (max-width: 507px) {
  .title {
    font-size: 25px;
    line-height: 35px;
  }
  .text {
    font-size: 16px;
    line-height: 22px;
  }
}
