.wraper {
  display: none;
}
.navigation {
  width: 100%;
}
.navigate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.logo_img {
  height: 23px;
  width: 189px;
  margin-top: 38px;
  margin-bottom: 39px;
}
.navigate_row_item {
  list-style: none;
  margin: auto;
  padding: 0;
}

.wraper {
  display: none;
}
.navigate_row_item_title {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-left: 59px;
  margin-top: 45px;
  margin-bottom: 45px;
  position: relative;
}

ul li {
  display: inline-block;
}
.navigate_row_item_title::after {
  content: "";
  background-color: #ec7979;
  left: 0;
  right: 100%;
  position: absolute;
  height: 2px;
  top: 100%;
  transition: right 0.5s ease;
}
.navigate_row_item_title:hover::after,
.navigate_row_item_title :focus::after {
  right: 0;
}
.navigate_row_item_title:hover,
.navigate_row_item_title :focus {
  color: #ec7979;
}
@media (max-width: 929px) {
  .navigate_row {
    display: none;
  }
  .navigate {
    display: block;
    position: relative;
  }

  .logo_img {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .logo {
    position: relative;
  }
  .wraper {
    display: block;
    position: absolute;

    margin-top: -47px;
    width: 100%;
    position: relative;
    color: #ffffff;
    text-align: center;
    height: 45px;
    font-family: "Open Sans", sans-serif;
  }
  #check-menu {
    display: none;
  }
  .Menu {
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    align-items: flex-end;
  }
  .pol {
  }
  .burger-line {
    width: 35px;
    height: 2px;
    background-color: #ffffff;
    transition: 0.5s all;
    margin-bottom: 8px;
  }
  .two,
  .three {
    top: 18px;
  }
  .four {
    top: 28px;
  }

  .main-menu {
    display: block;
    position: absolute;
    width: 100%;

    bottom: 0;
    left: 0;
    transform: translateY(100%);
    z-index: 2;
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: 0.5s all;
  }
  .point {
    display: block;

    padding: 20px;
    color: black;
    background-color: #fff;
    text-decoration: none;
    border-top: 1px solid white;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    border: 1px solid black;
    text-transform: capitalize;
  }
  #check-menu:checked ~ .main-menu {
    max-height: 1200px;
    font-size: 14px;
    width: 100%;
  }
  #check-menu:checked ~ .one {
    display: none;
  }
  #check-menu:checked ~ .two {
    transform: rotate(45deg);
  }
  #check-menu:checked ~ .three {
    transform: rotate(-45deg);
  }
  #check-menu:checked ~ .four {
    display: none;
  }
}
@media (max-width: 603px) {
  .point {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .point:hover {
    color: brown;
  }
}
