.team {
  width: 100%;
}
.container_team {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  padding-bottom: 100px;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.team_item {
  margin-right: 30px;

  width: 25%;
  margin-bottom: 15px;
}
.team_item:last-child {
  margin-right: 0;
}

.team_item_image_personality {
  width: 100%;
  height: 100%;
}
.team_item_title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: capitalize;
  color: black;
  margin-bottom: 16px;
}

.team_item_subtitle {
  color: #e84545;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.team_item_text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #6c7279;
  margin-bottom: 67px;
}
.team_social {
  text-align: start;
  display: flex;
  flex-direction: row;
}
.social {
  width: 38px;
  height: 38px;
  border: 1px solid #c6cacc;
  margin-right: 4px;
}
.team_social_icons {
  height: 18px;
  color: #c6cacc;
  text-align: center;
  top: 11px;
  transition: 0.5s;
  display: block;
  margin: 0 auto;
  margin-top: 12px;
}
.team_social_icons:hover,
.team_social_icons:focus {
  color: darkblue;
}
@media (max-width: 930px) {
  .team_item:last-child {
    margin-right: 30px;
  }
  .team_item {
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .container_team {
    flex-wrap: wrap;
  }
  .team_item {
    width: 270px;
  }
  .team_item_text {
    margin-bottom: 20px;
  }
  .team_social {
    margin-bottom: 30px;
  }
  .team_social:last-child {
    margin-bottom: 0;
  }
}
