.works {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.works_img {
  width: 25%;
  height: 100%;
  border: 1px solid #fff;
  position: relative;
  box-sizing: border-box;
}
.works_img:nth-child(1),
.works_img:nth-child(5) {
  border-left: none;
}

.works_img:nth-child(4),
.works_img:nth-child(8) {
  border-right: none;
}
.clo {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}
.clo::before {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  background-color: rgba(232, 69, 69, 0.9);
  opacity: 0;
  transition: all 0.5s ease;
}
.clo:hover::before {
  opacity: 1;
}
.clo:focus::before {
  opacity: 1;
}
.clo:active::before {
  opacity: 1;
}
.works_img_pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.work_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.clo:hover .work_text {
  opacity: 1;
}

.works_img_title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.works_img_text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
}
@media (max-width: 930px) {
  .works_img_title {
    font-size: 10px;
  }
  .works_img_text {
    font-size: 10px;
  }
}
@media (max-width: 650px) {
  .works_img_title {
    font-size: 8px;
  }
  .works_img_text {
    font-size: 8px;
  }
}
